* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  // font-family: $font-primary-alt;
  font-family: $font-primary;
  font-size: 10px;
  color: #707070;

  @include mq_sp {
    font-size: 2.667vw;
  }
}
body {
  min-width: 1366px;
  font-family: $font-primary;
  font-size: 1.6rem;

  @include mq_sp {
    min-width: 0;
  }
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: #707070;
  text-decoration: none;
}
